@model TabloidMVC.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        @*
            <dt class = "col-sm-2">
                 @Html.DisplayNameFor(model => model.Id)
             </dt>
             <dd class = "col-sm-10">
                 @Html.DisplayFor(model => model.Id)
             </dd>
        *@
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Post.Title)*@
            Post Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.UserProfileId)*@
            Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreateDateTime)
            </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index" asp-route-id="@Model.PostId">Back to List</a>
</div>
