@model TabloidMVC.Models.ViewModels.TagManagerViewModel

@{
    ViewData["Title"] = "TagListByPost";
}

<h1>Tags</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddedTags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AddedTags) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotAddedTags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NotAddedTags)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Add", "AddPostTag", new { item.Id, @Model.Post.Id })
                </td>
            </tr>
        }
    </tbody>
</table>